body {
    background-color: rgb(103, 28, 224);
}

.booking {
    width: 450px;
    margin: 0 auto;
    background-color: white;
}

.booking2 {
    display: flex;
}

a {
    text-decoration: none;
    padding: 20px;
}

.booking3 {
    width: 450px;
    margin: 0 auto;
    background-color: white;
}